<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- get_date.html -->
{% extends 'Navbar.html' %}
<html>
{% block body %}
<div>
  <div class="container">
  <div class="row">
    <div  align="center" class="col">
        <br> <br>
  <h2>Get Date</h2>
  <form method="post" action="{% url 'getdate' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Get Date</button>
  </form>
          </div>
      <div  align="center" class="col">
          <br><br>
          <h1>Updated Date : {{ updated_date }}</h1>
      </div></div>
</div>
</div>
{% endblock %}
</html>
</body>
</html>