{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
{% block body %}

<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
<form class="form-horizontal" action="{% url 'registerloginfunction' %}" method="POST">
    {% csrf_token %}
  <fieldset>
          {% csrf_token %}
<h1>Register</h1>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="name">Name</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="" class="input-xlarge">
      </div>
    </div>
<br>
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
      </div>
    </div>
<br>
      <br>
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">Phone number</label>
      <div class="controls">
        <input type="text" id="phonenumber" name="phonenumber" placeholder="Enter a valid phonenumber" class="input-xlarge">
      </div>
    </div>
<br>
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
      </div>
    </div>
<br>



<br>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" type="submit">Register</button>
      </div>
    </div>
  </fieldset>
</form>
  </div>
</div>
</div>
<br><br>
<div>
    <h6>Source (Register Form) Available in this link - https://bootsnipp.com/snippets/k7A</h6>
</div>
{% endblock %}
</html>