{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col order-last">
      First in DOM, ordered last
        <div>
            <br>
    <form method="post" action="{% url 'print_to_console' %}">
        {% csrf_token %}
        <label>Enter Text:</label>
        <input type="text" name="likhitha" required>
        <button type="submit" class="btn btn-secondary">Submit</button>

    </form>
        </div>
    </div>
    <div class="col">
      Second in DOM, unordered
        <br><br><br>
        <h1>
        {{likhitha}}
        </h1>
    </div>

  </div>
</div>

{% endblock %}
</body>
</html>