{% extends 'Navbar.html' %}
{% load static %}
<html>
{% block body %}
<div>
  <div class="container">
  <div class="row">
      <div class="col text-left">
        <br> <br>
        <h2>Post the Your Review Here</h2>
        <form method="post" enctype="multipart/form-data"  action="{% url 'add_review' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Review</button>
        </form>
      </div>
      <div  align="center" class="col">
          <br><br>
          <h6>
             {% for review in reviews %}
             {{ review.user.username }} -
              <br> {{ review.created_at }} -
              <br> {{ review.text }} -
              <br> {{ review.rating }}
<!--          <p>{{ review.image.url }}</p>--><br>
              <img src='{{ review.image.url }}' alt="Review Image" class="img-thumbnail" style="width: 100px; height: 100px;">
              {% endfor %}
          </h6>
      </div></div>
</div>
</div>
{% endblock %}
</html>